@font-face {
  font-family: 'SBSansDisplay';
  src: url('/node_modules/@sberbusiness/triplex-next/assets/fonts/SBSansDisplay-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SBSansDisplayMedium';
  src: url('/node_modules/@sberbusiness/triplex-next/assets/fonts/SBSansDisplay-Medium.woff2')
    format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SBSansDisplaySemibold';
  src: url('/node_modules/@sberbusiness/triplex-next/assets/fonts/SBSansDisplay-SemiBold.woff2')
    format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SBSansDisplayBold';
  src: url('/node_modules/@sberbusiness/triplex-next/assets/fonts/SBSansDisplay-Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SBSansText';
  src: url('/node_modules/@sberbusiness/triplex-next/assets/fonts/SBSansText-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SBSansTextSemibold';
  src: url('/node_modules/@sberbusiness/triplex-next/assets/fonts/SBSansText-Semibold.woff2')
    format('woff2');
  font-weight: 600;
  font-style: normal;
}
